


<div class="row">

    <div class="col-xs-12 col-sm-6">
        <h2>Login</h2>

        <form ng-submit="submitLogin(loginForm)" role="form" ng-init="loginForm = {}">
            <div class="form-group">
                <label>email</label>
                <input type="email" name="email" ng-model="loginForm.email" required="required" class="form-control"/>
            </div>

            <div class="form-group">
                <label>password</label>
                <input type="password" name="password" ng-model="loginForm.password" required="required" class="form-control"/>
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Log in</button>
        </form>

    </div>
    <div class="col-xs-12 col-sm-6">

        <h2>Register</h2>

        <form ng-submit="submitRegistration(registrationForm)" role="form" ng-init="registrationForm = {}">
            <div class="form-group">
                <label>email</label>
                <input type="email" name="email" ng-model="registrationForm.email" required="required" class="form-control"/>
            </div>

            <div class="form-group">
                <label>password</label>
                <input type="password" name="password" ng-model="registrationForm.password" required="required" class="form-control"/>
            </div>

            <div class="form-group">
                <label>password confirmation</label>
                <input type="password" name="password_confirmation" ng-model="registrationForm.password_confirmation" required="required" class="form-control"/>
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Register</button>
        </form>

    </div>
</div>
