<div class="container">
  <div class="row">
    <div class="col-xs-12">


      <p id="notice"><%= notice %></p>

      <h1>TODO:</h1>
      <ul>
        <li>Install devise &#10003;</li>
        <li>Setup Default route &#10003;</li>
        <li>Create User model for Auth &#10003;</li>
        <li>Setup local email catch-all &#10003;</li>
        <li>Change to mySql</li>
        <li>Create user params</li>
        <li>Setup Token Auth w/ Devise</li>
        <li>Create Repo and push</li>
      </ul>


    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xs-12" ng-app="myApp">

      <!--<a ui-sref="index">home</a>-->
      <!--<a ui-sref="admin.dashboard">admin</a>-->

      <div ui-view></div>

    </div>
  </div>
</div>
